* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.right{
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 0;
}
.pull-right-sidebar{
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}
.pull-right-sidebar span{
    background: black;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
}

.right-sidebar{
    width: 90px;
    position: fixed;
    height: 100%;
    right: 0px;
    top: 0px;
    margin-top: 60px;
    overflow-y: auto;
}

#demobar.right-sidebar-notification{
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    padding: 40px 5px;
    padding-top: 70px;
    margin-bottom: 70px;
    background: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}
#demobar.right-sidebar-notification .in-right-sidebar{
    border-top: 1px solid black;
    padding-top: 30px;
}

#demobar.right-sidebar-notification span.icon-img{
    display: block;
}

#demobar.right-sidebar-notification span.icon-text{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}

#demobar.right-sidebar-notification a{
    display: block;
    color: white;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/*  */
.header__top {
    position: sticky;
    top: 0;
    z-index: 200;
  }
  .row-header {
    justify-content: space-between;
    background: #212121;
  }
  @media all and (max-width: 991px) and (min-width: 768px) {
    .row-header {
      justify-content: right;
    }
  }
  
  .header__offers {
    background: #84c639;
    height: 2.9063rem;
  }
  
  .header__offers a {
    display: inline-block;
    color: #fff;
    font-size: 1.1875rem;
  }
  
  @media all and (max-width: 1530px) {
    .header__offers a {
      font-size: 1rem;
    }
  }
  
  @media all and (max-width: 1142px) {
    .header__offers a {
      font-size: 15px;
    }
  }
  
  @media all and (max-width: 1080px) {
    .header__offers a {
      font-size: 14px;
    }
  }
  
  @media all and (max-width: 991px) {
    .header__offers a {
      font-size: 18px;
    }
  }
  
  .header__search {
    padding-left: 9.375rem;
  }
  
  @media all and (max-width: 1080px) {
    .header__search {
      padding-left: 0;
    }
  }
  
  @media all and (max-width: 996px) {
    .header__search {
      padding-left: 60px;
    }
  }
  
  @media all and (max-width: 784px) {
    .header__search {
      padding-left: 40px;
    }
  }
  
  @media all and (max-width: 575px) {
    .header__search {
      margin-top: 20px;
      padding-left: 15px;
    }
  }
  
  .header__search input {
    padding: 0.625rem;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 30px;
    width: 70%;
    height: 2.7rem;
    outline: none;
    border: 1px solid #999;
    color: #212121;
    font-size: 0.875rem;
  }
  
  .btn-search {
    background: #fa1818;
    padding: 0.55rem 2rem;
    margin-top: -3px;
    border: 0;
    outline: none;
    border-radius: 0;
    transition: 500ms;
  }
  
  .btn-search:hover {
    background: #84c639;
  }
  
  .header__cart {
    height: 2.90635rem;
    color: #fff;
  }
  
  @media all and (max-width: 846px) {
    .cart-col {
      padding-left: 0;
    }
  }
  
  @media all and (max-width: 767px) {
    .cart-col {
      margin-top: 20px;
    }
  }
  
  .cart-box {
    padding: 7px 14px;
    font-size: 14px;
    border: 1px solid #84c639;
  }
  
  @media all and (max-width: 1340px) {
    .cart-box {
      font-size: 13px;
    }
  }
  
  @media all and (max-width: 784px) and (min-width: 767px) {
    .cart-box {
      font-size: 12px;
    }
  }
  
  @media all and (max-width: 766px) {
    .cart-box {
      font-size: 16px;
    }
  }
  
  @media all and (max-width: 353px) {
    .cart-box {
      font-size: 13px;
    }
  }
  
  .cart-box:hover {
    cursor: pointer;
  }
  
  i:hover {
    cursor: pointer;
  }
  
  i {
    font-size: 0.875rem;
  }
  
  .dropdown {
    margin-left: 8rem !important;
  }
  
  @media all and (max-width: 1339px) {
    .dropdown {
      margin-left: 6rem !important;
    }
  }
  
  @media all and (max-width: 1188px) {
    .dropdown {
      margin-left: 4rem !important;
    }
  }
  
  @media all and (max-width: 1060px) {
    .dropdown {
      margin-left: 3rem !important;
    }
  }
  
  @media all and (max-width: 996px) {
    .dropdown {
      margin-left: 10px !important;
    }
  }
  
  @media all and (max-width: 766px) {
    .dropdown {
      margin-left: 30px !important;
    }
  }
  
  @media all and (max-width: 324px) {
    .dropdown {
      margin-left: 10px !important;
    }
  }
  
  .dropdown:hover {
    cursor: pointer;
  }
  
  .dropdown:hover > .dropdown-menu {
    display: block;
    top: 95%;
    right: 0;
    min-width: 130px;
    text-align: center;
    margin: 0;
    left: auto;
  }
  
  .dropdown > .dropdown-toggle:active {
    pointer-events: none;
  }
  
  .dropdown-item {
    text-align: center;
    font-size: 0.875rem;
    transition: 500ms;
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:active {
    color: #fa1818;
  }
  
  .header__contact {
    background: #fa1818;
    height: 2.9063rem;
  }
  
  @media all and (max-width: 991px) {
    .header__contact {
      justify-content: flex-end;
    }
  }
  
  @media all and (max-width: 767px) {
    .header__contact {
      margin-top: 20px;
    }
  }
  
  .header__contact a {
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  
  @media all and (max-width: 1530px) {
    .header__contact a {
      font-size: 1rem;
    }
  }
  
  @media all and (max-width: 1335px) {
    .header__contact a {
      font-size: 0.8rem;
    }
  }
  
  @media all and (max-width: 1140px) {
    .header__contact a {
      font-size: 0.7rem;
    }
  }
  
  @media all and (max-width: 991px) {
    .header__contact a {
      font-size: 1.2rem;
    }
  }
  
  @media all and (max-width: 390px) {
    .header__contact a {
      font-size: 1rem;
    }
  }
  
  @media all and (max-width: 334px) {
    .header__contact a {
      font-size: 0.9rem;
    }
  }
  

/*  */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: unset;
    padding-left: unset;
}
body {
    font-family: "Open Sans", sans-serif;
}
.side-bar {
    padding-bottom: 1rem;
}

.logo-product {
    padding: 1rem 0px;    
}

.logo-product h1 a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-product .container {
    margin-top: 3rem;
}


.back {
    background: url(https://demo.w3layouts.com/demos_new/template_demo/20-07-2017/grocery_store-demo_Free/725976873/web/images/img-sp.png) no-repeat 38px -53px ;
    height: 2.5rem;
    position: relative;
    top: -1rem;
    right: 0.25rem;
}

.logo-product h1 a span {
    font-size: 0.7rem;
    display: block;
    color: red;
}

.info1 {
    display: flex;
    justify-content: flex-end;
}

.info1 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0.25rem 1rem;
    transition: .5s ease-in;
}

.info1 a:hover {
    color:#FA1818;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
}

.contact-info span {
    padding: 0rem 1.75rem 0rem .25rem;
    font-size: 14px;
}

.information {
    display: flex;
    flex-direction: column;
    float: left;
}

#contact-md2 {
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    min-height: 315px;
}
/*  */
.hamburger {
    width: fit-content;
    margin: auto;
    padding: 0rem 0.5rem;
    cursor: pointer;
}

.hamburger button {
    padding: 0rem 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}
.hamburger-item {
    width: 30px;
    height: 3px;
    background-color: #999;
    margin: 6px auto;
}
.nav-link {
    color: black;
    text-align: center;
}

.nav-link:hover {
    color: white;
    background-color: #249dafc9;
}

.drop-nav {
    background-color: #adb5bd;
}

.drop-nav:hover {
    background-color: #999!important;
    color: black;

}

.banner1 {
    background: url("https://demo.w3layouts.com/demos_new/template_demo/20-07-2017/grocery_store-demo_Free/725976873/web/images/1.jpg") no-repeat -2rem 0px;
    min-height: 315px; 
    background-size: cover;
    padding: 4rem 2rem 2rem 2rem;
    color: white;
    text-transform: uppercase;
}

.banner2 {
    background: url("https://demo.w3layouts.com/demos_new/template_demo/20-07-2017/grocery_store-demo_Free/725976873/web/images/2.jpg") no-repeat -2rem 0px;
    min-height: 315px; 
    background-size: cover;
    padding: 4rem 2rem 2rem 2rem;
    color: white;
    text-transform: uppercase;
}

.banner3 {
    background: url("https://demo.w3layouts.com/demos_new/template_demo/20-07-2017/grocery_store-demo_Free/725976873/web/images/3.jpg") no-repeat 0rem 0px;
    min-height: 315px; 
    background-size: cover;
    padding: 4rem 1rem 4rem 5rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.banner3 h3 {
    line-height: 2.7rem;
    float: right;
}
.banner2 h3 {
    line-height: 2.7rem;
    float: right;
}
.banner1 h3 {
    line-height: 2.7rem;
    float: right;
}

.banner3 h3 span {
    display: block;
    padding-left: 0.5rem;
    color: #FA1818;
    font-weight: 700;
    font-style: italic;
}

.banner3 .more-info {
    margin-right: -4.75rem; 
}
.banner2 h3 span {
    display: block;
    padding-left: 5rem;
    font-weight: 700;
}
.banner1 h3 span {
    display: block;
    padding-left: 5rem;
    font-weight: 700;
}

.more-info {
    float: right;
    padding: 1rem;
    margin-right: -9.75rem;
    margin-top: 9rem;
    border: 1px solid #999;
    background: #28a745;
    font-weight: 700;
    font-size: 15px;
    border-radius: 7px;
    position: relative;
}

.more-info a {
    text-decoration: none;
    color: white;    
}

.more-info::after {
    content: "Shop now";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: transparent;
    transform-origin: -95% 50%;
    transform: rotate3d(0, 0, 1, 15deg);
    transition: transform 0.3s ease-in;
}
.more-info:hover {
    background-color: #FA1818;
    color: #656060;
}

.more-info:hover::after {
    color: white;
    transform: rotate3d(0, 0, 1, 0deg);
}

.more-info:hover::after, .more-info a:hover {
    transition-timing-function: ease-out;
}


.sidenav {
    margin: 0;
    padding: 0;
    /* width: 19.5%; */
    background-color: white;
    height: auto;
    overflow: visible;
    display: none;
}

.sidenav a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 2rem;
    font-size: 14px;
    border: 1px solid #9999;
}

.sidenav a:hover {
    background-color: #84c639;
    color: white;
}

.dropbtn-m {
    width: 100%;
    padding: 0.45rem 0rem 0.45rem 2rem;
    border: 1px solid #9999;
    font-size: 14px;
    text-align: start;
}

.dropdown-m {
    position: relative;
    /* display: inline-block; */
}

.dropdown-content-m {
    display: none;
    position: absolute;
    top: 2rem;
    left: 7.5rem;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: growDown .3s;
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
}

.dropdown-content-m a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-m a:hover {background-color:white;}
.dropdown-m:hover .dropbtn-m {background-color: #84c639;}
.dropdown-m:hover .dropdown-content-m a{color: rgb(224, 86, 86);}
.dropdown-m:hover .dropdown-content-m {display: block;}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.move {
    position: block;
}

.advertise {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2.75rem;
    position: relative;
    /* margin-left: 200px; */
}

.advertise-item {
    margin-bottom: 3rem;
}
.advertise-item img {
    max-width: 100%;
    position: relative;
    padding: 0 10px;
}

.discount-info {
    position: absolute;
    top: 3%;
    left: 47%;
    max-width: 100%;
}

.forGro {
    position: absolute;
    top: 35%;
    left: 23%;
    max-width: 100%;
}

.save {
    position: absolute;
    top: 80%;
    left: 20%;
}

.save span {
    display: block;
    color: #FA1818;
    font-weight: normal;
}

.save p {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
}
.forGro p {
    font-size: 20px;
}

.forGro span { 
    display: block;
    padding-left: 10rem;
    color: #84c639;
    font-weight: 700;
}

.forGro b {
    color: red;
}
.discount-info p {
    font-size: 22px;
    font-weight: 700;
}

.circle-discount {
    background-color: #FA1818;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 45px;
    padding: 1.35rem 0rem;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
}

@keyframes blinker {
    0% {opacity: 1.0;}
    50% {opacity: 0.0;}
    100% {opacity: 1.0;}
}
.cart-pop {
    background-color:white;
    padding: 1rem;
    position: absolute;
    width: 455px; 
    height: auto;
    padding: 2.5rem 1rem 4rem 1rem;
    position: absolute;
    top: 135%;
    right: -200%;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 7px;
    display: none;
    animation: pop 0.25s;
}

.cart {
    position: relative;
    display: inline-block;
    padding: 1rem 0.5rem;
}

.list-cart ul {
    list-style-type: none;
    padding: 1rem 1rem 4rem 1rem;
    clear: both;
    float: left;
    width: 100%;
    margin: 5px 0 20px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.result {
    float: left;
    width: 50%;
    text-align: center;
}

.result h3 {
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.checkout {
    float: left;
    width: 50%;
    text-align: center;
}

.checkout button {
    background: #249dafc9;
    padding: .35rem .75rem;
    border: 1px solid #249dafc9;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
}


@media screen and (min-width: 600px) {
    .container {
        display: flex;
        max-width: unset;
    }

    .contact-info {
        padding: unset;
    }

    .info1 {
        padding-top: 2rem;
    }

    .forGro {
        left: 32%;
    }

    .save {
        left: 28%;
    }

    .img-top1 {
        width: 85%;
    }

    .list-products {
        width: 85%;
    }

    .off-post .todo {
        display: inline-block;
    }

    footer {
        grid-gap: 22px 96px;
    }

    .top .top-topic p::after {
        width: 6%;
        right: 47%;
    }

    .hot .hot-topic p::after {
        width: 6%;
        right: 47%;
    }
}

@media screen and (min-width: 700px) {

    footer {
        grid-gap: 22px 156px;
    }

    .empty-cart {
        width: 500px;
        right: 34%;
    }

    .cart-pop {
        width: 500px;
        right: 34%;
    }
}
@media screen and (min-width: 800px) {
    .pc {
        display: block;
    }
    .cart {
        display: inline-block;
        color: white;
        cursor: pointer;
        padding: 0rem 0.75rem 0rem 0rem;

    }

    .search {
        color: white;
        padding: 0rem 0.75rem 0rem 0rem;
        cursor: pointer;
    }

    .search-bar {
        top: 2.9rem;

    }

    .searchPro {
        border: 1px solid #343a40;
        outline: none;
    }
    .searchSub {
        border: 1px solid #343a40;
        background-color: #343a40;
    }
    .services {
        visibility: hidden;
    }

    nav {
        background-color: #212121;
    }
    
    .logo {
        background: #84c639;
    }

    .contact {
        display: inline-block;
        padding: 0rem 1.75rem;
        background-color: #FA1818;
        color: white;
    }

    .sign {
        color: white;
        padding: 0rem 1.75rem 0rem 0rem;
        height: 100%;
    }

    .show {
        border: 5px solid transparent;
        border-top-color: white;
        cursor: pointer;
        position: absolute;
        top: 1.55rem;
        right: 14.5rem;
    }

    .choice {
        right: 14.5rem;
    }

    .view-cart {
        display: none;
    }

    .search-lg {
        display: none;
    }

    .logo-product {
        border-bottom: 1px solid #8f8f44;
    }

    .side-bar {
        display: none;
    }

    .sidenav {
        display: block;
    }
    
    .sidenav {
        float:left;
        display: block;
    }

    .slideshow-container {
        float: left;
        width: 80%;
        max-width: 1229px;
    } 

    .banner1 {
        background-position: -70px 0px;
        min-height: 416px;
        padding: 6rem 2rem 2rem 2rem;
    }

    .banner2 {
        background-position: -70px 0px;
        min-height: 416px;
        padding: 6rem 2rem 2rem 2rem;
    }
    
    .banner3 {
        background-position: -70px 0px;
        min-height: 416px;
        padding: 6rem 2rem 2rem 2rem;
    }

    .advertise {
        flex-direction: row;
    }
    
    .discount-info {
        top: 1%;
        left: 19%;
    }

    .discount-info p {
        font-size: 16px;
    }

    .circle-discount {
        width: 55px;
        height: 55px;
        padding: 1.05rem 0rem;
        font-size: 16px;
    }
    
    .circle-dot {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    .dot {
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 0 2px;
        background-color: white;
        border: 2px solid #28a745;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .dot.active, .dot:hover {
        background-color: #28a745;
    }

    .forGro {
        top: 1%;
        left: 39%;
    }
    .forGro p {
        font-size: 16px;
    }

    .forGro span {
        padding-left: 8rem;
    }
    .save {
        top: 35%;
        left: 70%;
    }
    .grid-container {
        grid-gap: 42px 97px;
        padding: 0.5rem 4.5rem 1.5rem 4.5rem;
    }

    .sub { 
        text-align: unset;
        display: flex;
        justify-content: center;
        margin-left: -17rem;
        padding: 3rem 0rem;
    }

    .head-sub {
        margin-bottom: unset;
        padding-right: 2rem;
    }

    .put-mail {
        width: 230%;
    }

    .load-mail {
        right: -130%;
    }

    footer {
        grid-gap: 20px 222px;
    }

    .contact h2 {
        display: inline-block;
    }
    .contact .fa-phone {
        display: none;
    }

    .empty-cart {
        top: 230%;
    }

    .cart-pop {
        top: 230%;
    }

    .home {
        margin-bottom: unset;
    }
}

@media screen and (min-width: 850px) {
    .information {
        flex-direction: row;
    }

    .container {
        justify-content: space-between;
        width: 840px;
    }

    .infor1 {
        padding: 2rem 1.5rem;
    }

    .contact-info i {
        padding: 0rem 0rem 1rem .0rem
    }

    .contact-info span {
        padding: 0rem 1.75rem 1rem .25rem;
    }

    #contact-md2 {
        display: inline-block;
        padding-top: 2rem;
    }

    #contact-md1 {
        display: none;
    }

    .home-container {
        text-align: center;
        margin-left: -36.5rem;
    }
    
}
@media screen and (min-width: 900px) {
    .banner1 {
        background-position: -33px 0px;
        padding: 7rem 1rem 2rem 2rem;
    }

    .banner2 {
        background-position: -33px 0px;
        padding: 7rem 1rem 2rem 2rem;
    }

    .banner3 {
        background-position: -33px 0px;
        padding: 7rem 1rem 2rem 2rem;
    }
}


@media screen and (min-width: 950px) {
    .forGro {
        top: 0%;
    }

    .forGro span {
        padding-left: 7rem;
    }

    .sidenav {
        height: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .sign {
        color: white;
        padding: 0rem 1.75rem 0rem 3rem;
    }
    .view-cart {
        display: inline-block;
    }
    .cart {
    
        border: 2px solid green;
        padding: 0.5rem 0.75rem 0.35rem 0.75rem;
        margin-right: 2rem;
    }
    .empty-cart {
        top: 135%;
    }

    .cart-pop {
        top: 135%;
    }
}
    #search-box-md {
        display: none;
    }

    .search-lg {
        display: inline-block;
        position: relative;
        width: 400px;
    }

    .searchPro-lg {
        padding: 0.5rem 1.75rem .35rem 0.75rem;
        width: 350px;
    }

    .searchSub-lg {
        padding: 0.5rem 1rem .35rem 1rem;
        background: url(https://demo.w3layouts.com/demos_new/template_demo/20-07-2017/grocery_store-demo_Free/725976873/web/images/img-sp.png) no-repeat 1px 4px #FA1818;
        margin-left: -6px;
        border: 2px solid #FA1818;
    }

    .container {
        width: 1170px;
    }

    .logo-product h1 a span {
        font-size: 0.9rem;
    }

    .logo-product h1 a {
        font-size: 3rem;
    }

    .back {
        background-position-x: 50px;
        background-position-y: -57px;
    }

    .banner1 {
        min-height: 550px;
        padding: 9rem 7rem 2rem 2rem;
    }

    .banner2 {
        min-height: 550px;
        padding: 9rem 7rem 2rem 2rem;
    }
    .banner3 {
        min-height: 550px;
        padding: 9rem 7rem 2rem 2rem;
    }

    .forGro span {
        padding-left: 10rem;
    }

    .discount-info p{
        font-size: 20px;
    }

    .forGro p {
        font-size: 20px;
    }

    .home-container {
        margin-left: -57.5rem;
    }

    .grid-container {
        grid-gap: 42px 25px;
        padding: .5rem 8.5rem 1.5rem 8.5rem;
    }

    .top {
        padding: 0rem 8.5rem;
    }

    .list-products {
        width: 34%;
    }

    .list-products ul li i {
        font-size: 14px;
    }

    .list-products ul li a {
        font-size: 14px;
    }

    .second-img .inside-second-img {
        top: 28%;
    }

    .first-img button {
        left: 34%;
    }

    footer {
        padding: 4rem 15rem;
        grid-gap: 24px 103px;
    }


/*  */
.main {
    width: 100%;
    background-color: rgba(130, 115, 252, 0.05);
    min-height: 100px; }
    .main__title {
      width: 100%;
      grid-template-columns: 1fr;
      text-align: center; 
      margin-top: 150px;
    }
      .main__title h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin-top: 32px; 
        padding-top: 50px;
        padding-bottom: 25px;
    }
      .main__title p {
        width: 100px;
        min-height: 3px;
        background-color: #fb641b;
        margin: 24px auto;
        border-radius: 4px; }
    .main__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 24px 32px;
      width: 90%;
      margin: 0px auto;
      padding: 32px 150px;
    }
    .main__list-outside{
        margin: 10px;
        height: 380px;
        border: 1px solid #d7d7d7;
    }
      .main__list--catelory {
        border: solid black 1px;
        height: 400px;
        background-color: #ffffff;
        border-radius: 2px;
        transition: all 0.2s; }
        .main__list--catelory:hover {
          border: solid #2874f0 1px;
          box-shadow: 0 0 2px #2874f0;
          transform: translateY(-4px); }
          .main__list--catelory:hover img {
            transform: translateY(-12px); }
          .main__list--catelory:hover .logo {
            transform: none; }
        .main__list--catelory .img {
          width: 100%;
          height: 180px;
          display: grid;
          position: relative; }
          .main__list--catelory .img .logo {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: white; }
            
          .main__list--catelory .img img {
            align-self: flex-end;
            justify-self: center;
            transition: all .3s; }
        .main__list--catelory .product {
          width: 80%;
          margin: 16px auto; }
          .main__list--catelory .product strong {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
            height: 46px; }
            .main__list--catelory .product strong a {
              text-decoration: none;
              color: #666; }
              /* .main__list--catelory .product strong a:hover {
                color: #2874f0; } */
          .main__list--catelory .product .coast {
            display: grid;
            margin-top: 16px;
            grid-template-columns: 1fr 1fr 1fr; }
            .main__list--catelory .product .coast-new {
              font-weight: bold; }
            .main__list--catelory .product .coast-old {
              text-decoration: line-through; }
        .main__list--catelory .btn-product {
          width: 80%;
          margin: 16px auto; }
          .main__list--catelory .btn-product button {
            height: 36px;
            width: 100%;
            border: none;
            background-color: #fb641b;
            color: white;
            border-radius: 4px;
            transition: all .3s;
            margin: 0px auto;
            cursor: pointer;
            text-transform: uppercase; }
            .main__list--catelory .btn-product button:hover {
              background-color: #2874f0; }
  
  @media only screen and (max-width: 1024px) and (min-width: 740px) {
    .main__list {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 739px) {
    .main__list {
      grid-template-columns: repeat(1, 1fr); } }
/*  */

.top-product{
    margin-top: 100px;
    text-align: center;
}
.top-product h3{
    text-align: center;
    color: #212121;
    padding-bottom: .5em;
    position: relative;
    font-size: 2.5em;
}
.top-product h3::after{
    content: '';
    background: #fa1818;
    height: 2px;
    width: 8%;
    position: absolute;
    bottom: 0%;
    left: 46%;
}

/* .all-head{
    margin-left: 180px;
    margin-right: 180px;
    padding: 10px 0 10px 10px;
    background: #f5f5f5;
} */

/* .content{
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 25% 75%;
} */

.colum-content{
    margin: 3em 0 0;
    padding: 1em 0 1em 1em;
    background: #f5f5f5;
    
}
.colum-content-1{
    padding: 10px;
    background: #fff;
}

.colum-content-1 ul{
    margin: 0;
    padding: 0;
    text-align: left;
}
.colum-content-1 ul li{
    list-style-type: none;
    margin-bottom: 20px;
    color: #84c639;
}
.colum-content-1 ul li i{
    padding-right: 10px;
    
}
/* .colum-content-1 ul li i.check::before{
    content: "\f00c";
} */
.colum-content-1 ul li a {
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.row-content{
    padding-left: 20px;
    
}
/* .row-content-1{
    display: grid;  
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 150px 150px  ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
} */

/* .item1 img{
    height: 320px;
    width: 200px;
} */

.col-md-4 img{
    width: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
}
/* attend */
.cover-items{
    position: relative;
}
.item-c{
    position: absolute;
    top: 10%;
    right: 10%;
}
.item-c a{
    padding: 10px 30px;
    background: #84c639;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    /* position: relative; */
    display: block;
}
/* .item2 img{
    height: 300px;
}
.item3 img{
    height: 100px;
} */

.move{
    margin-left: 30px;
    margin-top: 10px;
}
.move-text{
    width: 90%;
    float: left;
    text-align: right;
    padding: 10px;
}
.move-text h4{
    text-transform: capitalize;
    font-size: 1.2em;
    color: #212121;
    line-height: 1.5em;
    /* padding-left: 150px; */
}
.move-text h4 span{
    color: red;
}
.blink{
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.special{
    float: right;
    width: 10%;
}
.special span img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.new-letter{
    padding: 60px 0;
    background: orangered;
    margin-top: 50px;
   
}
.letter{
    height: 40px;
}

.letter1{
    float: left;
    width: 35%;
    text-align: right;
}
.letter1 h3{
    text-transform: capitalize;
    color: #fff;
    margin: .5em 0 0;
    font-size: 1.2em;
}

.letter2{
    float: left;
    width: 50%;
    margin-left: 2em;
}
.letter2 input[type="email"]{
    outline: none;
    padding: 10px;
    background: none;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: #fff;
    width: 75%;
    float: left;
}

.letter2 input[type="submit"]{
    outline: none;
    padding: 10px;
    background: #fff;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: red;
    width: 25%;
    text-transform: uppercase;
}

.letter2 input::placeholder{
    color: #fff;
}

/*  */
.footer{
    padding: 4em 0;
    background: #212121;
}

.col-sm h3{
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.col-sm li{
    list-style-type: none;
    margin-bottom: 1.5em;
    padding-right: 1em;
}
/* note */
.col-sm li a{
    color: #999;
    text-decoration: none;
    text-transform: capitalize;
}
.col-sm ul.top-footer-2 li i{
    color: white;
    margin-left: 0;
    margin-right: 10px;
    font-size: 20px;
}
.col-sm ul.top-footer-2{
    padding-left: 0;
}
.col-sm ul.top-footer-3 li i{
    color: #84c639;
}
.col-sm ul.top-footer-3 li i.fa-twitter{
    color: red;
    padding-right: 10px;
}
.col-sm ul.top-footer-3 li span{
    margin-left: 5px;
    display: block;
    color: #999;
    padding-left: 30px;
}
.col-sm ul.top-footer-3{
    padding-left: 0;
}
/* .col-sm ul.top-footer-3 li i{
    margin-left: 0px;
} */
.col-sm ul.top-footer-3 li a{
    color: #fff;
    text-decoration: none;
}
/*  */
.agile-footer{
    padding: 1em 0 0;
    width: 70%;
    margin-left: 170px;
}

/* .agile-col-sm-right{
    width: 25%;
}
.agile-col-sm-1{
    width: 50%;
} */
.agile-col-sm-1 h4{
    color: #b7e781;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 1em;
}

.agile-col-sm-2 h5{
    color: #fff;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 1em;
}
.social{
    padding: 0;
    margin: 0;
}
.social li{
    display: inline-block;
}
.social li a{
    border: 2px solid #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    border-radius: 20px;
}
.social li a i{
    padding: 0.8em 0 0;
}
.fb:hover{
    background: darkblue;
}
.tw:hover{
    background: rgb(5, 5, 252);
}
.gg:hover{
    background: rgb(206, 73, 64);
}
.insta:hover{
    background: rgb(141, 6, 112);
}
.dri:hover{
    background: rgb(155, 60, 104);
}
/*  */
.botom-footer{
    margin: 4em 0 0;
    padding: 3em 0 0;
    text-align: center;
    border-top: 1px solid #3a3a3a;
}
.botom-footer p{
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
}
.botom-footer p a{
    color: #fff;
    text-decoration: none;
}

/*  */

.view-cart {
    display: none;
}


.empty-cart {
    color: black;
    position: absolute;
    padding: 0.5rem 1rem 1rem 1rem;
    background: white;
    width: 425px;
    border: 1px solid #ccc;
    top: 135%;
    right: -115%;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
    display: none;
    animation: pop 0.25s;
}

.close-empty {
    float: right;
    outline: none!important;;
    border: white;
    font-size: 14px;
    font-weight: 700;
}


.empty-cart p {
    margin-top: 1rem;
}


.cart-pop {
    background-color:white;
    padding: 1rem;
    position: absolute;
    width: 455px; 
    height: auto;
    padding: 2.5rem 1rem 4rem 1rem;
    position: absolute;
    top: 135%;
    right: -200%;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 7px;
    display: none;
    animation: pop 0.25s;
}

.cart {
    position: relative;
    display: inline-block;
    padding: 1rem 0.5rem;
}

.list-cart ul {
    list-style-type: none;
    padding: 1rem 1rem 4rem 1rem;
    clear: both;
    float: left;
    width: 100%;
    margin: 5px 0 20px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.result {
    float: left;
    width: 50%;
    text-align: center;
}

.result h3 {
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.checkout {
    float: left;
    width: 50%;
    text-align: center;
}

.checkout button {
    background: #249dafc9;
    padding: .35rem .75rem;
    border: 1px solid #249dafc9;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
}

.close-cart {
    float: right;
    margin: -2rem .25rem -1rem 1rem;
    border: white;
    font-size: 12px;
    font-weight: 700;
    outline: none!important;
}

     .view-cart {
        display: inline-block;
    } 
    .cart {
    
        border: 2px solid green;
        padding: 0.5rem 0.75rem 0.35rem 0.75rem;
        margin-right: 2rem; 
    } 

    .empty-cart {
        top: 135%;
    }

    .cart-pop {
        top: 135%;
    }
    

@media screen and (min-width: 1400px) {
     .cart-pop {
        background-color:white;
        padding: 1rem;
        position: absolute;
        width: 500px;
        height: auto;
        padding: 2.5rem 1rem 4rem 1rem;
        position: absolute;
        top: 135%;
        right: 34%;
        z-index: 1000;
        border: 1px solid black;
        border-radius: 7px;
        display: none;
    }
    
    .cart {
        position: relative;
    } 

    .list-cart ul {
        list-style-type: none;
        padding: 1rem 1rem 4rem 1rem;
        clear: both;
        float: left;
        width: 100%;
        margin: 5px 0 20px;
        padding: 10px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .result {
        float: left;
        width: 50%;
        text-align: center;
    }

    .result h3 {
        color: black;
        font-size: 17px;
        font-weight: 700;
    }

    .checkout {
        float: left;
        width: 50%;
        text-align: center;
    }

    .checkout button {
        background: #249dafc9;
        padding: .35rem .75rem;
        border: 1px solid #249dafc9;
        border-radius: 5px;
        outline: none;
        font-size: 17px;
    } 

    .close-cart {
        float: right;
        margin: -2rem .25rem -1rem 1rem;
        border: white;
        font-size: 12px;
        font-weight: 700;
        outline: none!important;
    } 
}


/* cartt */
.cartt{
    width: 50%; 
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.cartt h2{
    margin-bottom: 30px;
}
.cartt table{
    width: 100%;

}
.cartt table thead tr th:first-child{
    text-align: left;
}
.cartt table thead tr th:last-child{
    text-align: right;
}
.cartt table tr td{
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
.cartt table tbody tr td:last-child{
    text-align: right;
}
/*  */
#show-cart{
    display: none;
}
.hien{
    display: block !important;
}