<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>information</h3>
                <ul class="top-footer-2">
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Events</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">About Us</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Best Deal</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Services</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Short Codes</a> 
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <h3>policy infor</h3>
                <ul class="top-footer-2">
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">FAQ</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Private Policy</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Terms Of Use</a> 
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <h3>What in stores</h3>
                <ul class="top-footer-2">
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Pet Food</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Frozen Snacks</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Kitchen</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Branded Foods</a> 
                    </li>
                    <li> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="">Households</a> 
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <h3>twitter posts</h3>
                <ul class="top-footer-3">
                    <li>
                        <label for="" class="twitter" aria-hidden="true"></label>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i>01 day ago</i>
                        <span>
                            Non numquam
                            <a href="#">http://sd.ds/13jklf#</a>
                            eius modi tempora incidunt ut labore et
                            <a href="#">http://sd.ds/1389kjklf#</a>
                            quo nulla
                        </span> 
                    </li>
                    <li>  
                        <label for="" class="twitter" aria-hidden="true"></label>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i>02 days ago</i>
                        <span>
                            Con numquam
                            <a href="#">http://sd.ds/1389kjklf#</a>
                            eius modi tempora incidunt ut labore et
                            <a href="#">http://fd.uf/56hfg#</a>
                            quo nulla
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>    

        <div class="row agile-footer">
            <div class="col-sm agile-col-sm-right">
                <div class="agile-col-sm-1">
                    <h4>100% secure payments</h4>
                    <img src="img/card.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-sm agile-col-sm-left">
                <div class="agile-col-sm-2">
                    <h5>connect with us</h5>    
                    <ul class="social">
                        <li>
                            <a href="#" class="fb">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tw">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="gg">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="insta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dri">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="botom-footer">
            <p>
                © 2016 Grocery Store. All rights reserved | Design by 
                <a href="http://w3layouts.com/">W3layouts</a>
            </p>
        </div>
</div>