<header>
    <div class="container-fluid header__top">
        <div class="row row-header">
            <div class="col-lg-2 col-md-3 col-sm-6 header__offers d-flex align-items-center justify-content-center">
                <a href="#">Today's special Offers !</a>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-6 col-12 header__search">
                <form action="#" method="post">
                    <input type="text" placeholder="Search a product..." />
                    <button type="submit" style="height: 40px;" class="btn btn-danger btn-search" aria-label="search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-8 cart-col">
                <div class="header__cart d-flex justify-content-start align-items-center">
                    <div class="cart">
                        <span class="view-cart">
                            View your cart
                            <i class="fa fa-shopping-cart cart-picture" aria-hidden="true"></i>
                            
                        </span>

                        <div id="show-cart" class="show-cart-111">
                            <h2>my product</h2>
                            <div class="list-product">
                                <table>
                                    <tr>
                                        <th> <span>tên sản phẩm</span></th>
                                        <th> <span>số lượng</span></th>
                                        <th> <span>đơn giá</span></th>
                                        <th> <span>thành tiền</span></th>
                                        <th> <span><i class="fa fa-times" id="x-button" aria-hidden="true"></i></span> </th>
                                    </tr>
                                    <tbody id="showProduct"></tbody>
                                    <!-- <tr>
                                        <td><span class="name">bịch bánh</span></td>
                                        <td><span class="quantity">1</span></td>
                                        <td><span class="coast">10</span></td>
                                        <td><span class="total">10</span></td>
                                        <td>
                                            <span class="delete">xóa</span>
                                        </td>
                                    </tr> -->
                                    <tr class="trlast">
                                        <th><span>Sub Total</span></th>
                                        <th>
                                            <p class="coast-total"><span>$</span><span>0</span><span>.00</span></p>
                                        </th>
                                        <th><span class="deleteAll" >Delete All</span></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                    </div>

                    <div class="dropdown">
                        <i class="fa fa-user-o" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        </i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Login</a>
                            <a class="dropdown-item" href="#">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-1 col-md-3 col-sm-6 col-4 header__contact d-flex justify-content-center align-items-center">
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>
</header>

<div class="logo-product">
    <div class="container">
        <div class="logo2">
            <h1>
                <a href="#"><span>Grocery</span>
                    Store</a>
            </h1>
            <div class="back">

            </div>
        </div>
        <div class="information">
            <div class="info1">
                <a href="#">Events</a>
                <p> / </p>
                <a href="#">About Us</a>
                <p> / </p>
                <a href="#">Best Deals</a>
                <p> / </p>
                <a href="#">Services</a>
            </div>
            <div id="contact-md1" class="contact-info">
                <i class="fas fa-phone-alt"></i><span>(+0123) 234 567</span>
                <i class="far fa-envelope"></i><span>store@grocery.com</span>
            </div>
        </div>
        <div id="contact-md2" class="contact-info">
            <i class="fa fa-phone" aria-hidden="true"></i><span>(+0123) 234 567</span>
            <i class="fa fa-envelope-o" aria-hidden="true"></i><span>store@grocery.com</span>
        </div>
    </div>
</div>